.editQuotes {
    width: 600px;
    margin: 0 auto;
    text-align: center;
}

.areaForAuthorEdit {
    display: block;
    width: 300px;
    margin: 10px auto;
}

.areaForQuoteEdit {
    resize: none;
    width: 300px;
    height: 80px;
}

.editBtn {
    display: block;
    margin: 15px auto 10px;
}