.header {
    display: flex;
    align-items: center;
    border: 1px solid black;
}

.headerHeading {
    width: 80%;
}

.link {
    margin-right: 5px;
    padding-right: 5px;
    outline: none;
    color: #0000FF;
    border: none;
    background: none;
    text-decoration: underline;
    cursor: default;
}